body{
  font-family:'Helvetica Neue', Arial, "MS Trebuchet", sans-serif;
}
#frame{
    width:745px;
    margin:10px auto 0;
}
#pannel
{
    border:2px solid #eee;
    padding:10px;
}
.element{
    width:160px;
    height:160px;
    padding:6px;
    margin:2px;
    font-size:small;
    -webkit-border-top-right-radius:40px;
    background:#F30;
    background:-webkit-gradient(linear,120 0,100% 0,from(#f30),to(#f60));
    background:-moz-gradient(left,#f30,#f30 110,#f66 100%);
    overflow:hidden;
    color:#ccc;

}
.element a{
    background:white;padding:0 0.5em;margin-right:-6px ;
    font-size:0.5em;
    text-transform:uppercase;
    text-decoration:none;
    color:#f30;
    float:right;
    -webkit-border-radius:0.5em 0 0 0.5em;
    -moz-border-radius:0.5em 0 0 0.5em;
    -o-border-radius:0.5em 0 0 0.5em;
    border-radius:0.5em 0 0 0.5em;
}

.element.Success
{
    background:#06F;
    background:-webkit-gradient(linear,120 0,100% 0,from(#06F),to(#09f));
    background:-moz-gradient(left,#06f,#06f 110,#09f 100%);
}
.element.Success a{color:#06F;}

.element.Syncing
{
    background:#f60;
    background:-webkit-gradient(linear,120 0,100% 0,from(#f60),to(#f90));
    background:-moz-gradient(left,#F60,#F60 110,#f90 100%);

}
.element.Syncing a
{
    color:#f60;
}


.element h1{color:white;font-size:5em;margin:0.05em 0 0.2em 30px;text-transform:capitalize;white-space:nowrap}
.element h2{font-size:1em;margin:0;text-transform:capitalize;white-space:nowrap;}
.element p{margin:0px 0 5px 0;font-size:0.8em;}
